<template>
  <svg viewBox="0 0 18 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M2.25 24C1.009 24 0 22.991 0 21.75V2.25C0 1.009 1.009 0 2.25 0H15.75C16.991 0 18 1.009 18 2.25V21.75C18 22.991 16.991 24 15.75 24H2.25ZM2.25 1.5C1.836 1.5 1.5 1.836 1.5 2.25V21.75C1.5 22.164 1.836 22.5 2.25 22.5H15.75C16.164 22.5 16.5 22.164 16.5 21.75V2.25C16.5 1.836 16.164 1.5 15.75 1.5H2.25Z"
      fill="white"
    />
    <path
      d="M4.5 9C3.673 9 3 8.327 3 7.5V4.5C3 3.673 3.673 3 4.5 3H13.5C14.327 3 15 3.673 15 4.5V7.5C15 8.327 14.327 9 13.5 9H4.5ZM4.5 7.5H13.5V4.5H4.5V7.5Z"
      fill="white"
    />
    <path
      d="M4.875 13.5C5.49632 13.5 6 12.9963 6 12.375C6 11.7537 5.49632 11.25 4.875 11.25C4.25368 11.25 3.75 11.7537 3.75 12.375C3.75 12.9963 4.25368 13.5 4.875 13.5Z"
      fill="white"
    />
    <path
      d="M9.15625 13.5C9.77757 13.5 10.2812 12.9963 10.2812 12.375C10.2812 11.7537 9.77757 11.25 9.15625 11.25C8.53493 11.25 8.03125 11.7537 8.03125 12.375C8.03125 12.9963 8.53493 13.5 9.15625 13.5Z"
      fill="white"
    />
    <path
      d="M13.125 13.5C13.7463 13.5 14.25 12.9963 14.25 12.375C14.25 11.7537 13.7463 11.25 13.125 11.25C12.5037 11.25 12 11.7537 12 12.375C12 12.9963 12.5037 13.5 13.125 13.5Z"
      fill="white"
    />
    <path
      d="M4.875 17.25C5.49632 17.25 6 16.7463 6 16.125C6 15.5037 5.49632 15 4.875 15C4.25368 15 3.75 15.5037 3.75 16.125C3.75 16.7463 4.25368 17.25 4.875 17.25Z"
      fill="white"
    />
    <path
      d="M9.15625 17.25C9.77757 17.25 10.2812 16.7463 10.2812 16.125C10.2812 15.5037 9.77757 15 9.15625 15C8.53493 15 8.03125 15.5037 8.03125 16.125C8.03125 16.7463 8.53493 17.25 9.15625 17.25Z"
      fill="white"
    />
    <path
      d="M13.125 17.25C13.7463 17.25 14.25 16.7463 14.25 16.125C14.25 15.5037 13.7463 15 13.125 15C12.5037 15 12 15.5037 12 16.125C12 16.7463 12.5037 17.25 13.125 17.25Z"
      fill="white"
    />
    <path
      d="M4.875 21C5.49632 21 6 20.4963 6 19.875C6 19.2537 5.49632 18.75 4.875 18.75C4.25368 18.75 3.75 19.2537 3.75 19.875C3.75 20.4963 4.25368 21 4.875 21Z"
      fill="white"
    />
    <path
      d="M9.15625 21C9.77757 21 10.2812 20.4963 10.2812 19.875C10.2812 19.2537 9.77757 18.75 9.15625 18.75C8.53493 18.75 8.03125 19.2537 8.03125 19.875C8.03125 20.4963 8.53493 21 9.15625 21Z"
      fill="white"
    />
    <path
      d="M13.125 21C13.7463 21 14.25 20.4963 14.25 19.875C14.25 19.2537 13.7463 18.75 13.125 18.75C12.5037 18.75 12 19.2537 12 19.875C12 20.4963 12.5037 21 13.125 21Z"
      fill="white"
    />
  </svg>
</template>
