<template>
  <svg
    width="37"
    height="37"
    viewBox="0 0 37 37"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <rect
      x="9.30762"
      y="26.9853"
      width="25"
      height="1"
      transform="rotate(-45 9.30762 26.9853)"
      fill="black"
    />
    <rect
      x="26.9854"
      y="27.6924"
      width="25"
      height="1"
      transform="rotate(-135 26.9854 27.6924)"
      fill="black"
    />
  </svg>
</template>
