<template>
  <div class="dibs-synthesis--block" :data-hide-info="hideInfo">
    <dl class="dibs-synthesis--block--elem">
      <div v-if="title" class="dibs-synthesis--block--header">
        <h2 class="dibs-scrollbar">{{ title }}</h2>
        <dibs-input-help v-if="withHelp" size="small" @click="$emit('help')">
          ?
        </dibs-input-help>
      </div>

      <!-- eslint-disable vue/no-v-html -->
      <div
        v-if="info"
        class="dibs-synthesis--block--header--precision"
        v-html="info"
      />
      <template v-if="info2">
        <div class="dibs-synthesis--block--h-divider" />
        <div
          class="dibs-synthesis--block--header--precision dibs-synthesis--block--scenario"
          v-html="info2"
        />
      </template>
      <!-- eslint-enable vue/no-v-html -->

      <div class="dibs-synthesis--block--w-divider" />

      <template v-for="(elem, id) in data">
        <dt
          :key="id + '-dt'"
          class="dibs-synthesis--block--elem--dt dibs-scrollbar"
          :class="{
            'dibs-synthesis--block--elem--small': elem.isSmall,
            'dibs-synthesis--block--elem--no-margin': elem.isSmall,
          }"
        >
          <div>
            {{ elem.label }}
          </div>
          <div v-if="elem.hint" class="dibs-synthesis--block--elem--precision">
            {{ elem.hint }}
          </div>
        </dt>
        <dd
          :key="id + '-dd'"
          class="dibs-synthesis--block--elem--dd"
          :class="{
            'dibs-synthesis--block--elem--small': elem.isSmall,
            'dibs-synthesis--block--elem--no-margin': elem.isSmall,
          }"
        >
          <div>
            {{ elem.value }}
          </div>
        </dd>
        <template v-if="data2 && data2[id]">
          <div :key="id + '-2-hr'" class="dibs-synthesis--block--h-divider" />

          <dd
            :key="id + '-2-dd'"
            class="dibs-synthesis--block--elem--dd dibs-synthesis--block--scenario"
            :class="{
              'dibs-synthesis--block--elem--small': data2[id].isSmall,
              'dibs-synthesis--block--elem--no-margin': data2[id].isSmall,
            }"
          >
            <div>
              {{ data2[id].value }}
            </div>
          </dd>
        </template>
      </template>

      <template v-for="(elem, id) in data">
        <template v-if="elem.label2">
          <dt
            :key="id + '-dt2'"
            class="dibs-synthesis--block--elem--dt dibs-scrollbar"
            :class="{ 'dibs-synthesis--block--elem--small': elem.isSmall }"
          >
            {{ elem.label2 }}
          </dt>
          <dd
            :key="id + '-dd2'"
            class="dibs-synthesis--block--elem--dd"
            :class="{ 'dibs-synthesis--block--elem--small': elem.isSmall }"
          >
            {{ elem.value2 }}
          </dd>
        </template>
        <template v-if="data2 && data2[id]">
          <div :key="id + '-2-hr2'" class="dibs-synthesis--block--h-divider" />

          <template v-if="data2[id].value2">
            <dd
              :key="id + '-2-dd2'"
              class="dibs-synthesis--block--elem--dd dibs-synthesis--block--scenario"
              :class="{
                'dibs-synthesis--block--elem--small': data2[id].isSmall,
              }"
            >
              {{ data2[id].value2 }}
            </dd>
          </template>
        </template>
      </template>

      <template v-if="action">
        <dt
          class="dibs-synthesis--block--elem--action dibs-scrollbar"
          @click="$emit('action')"
        >
          {{ action }}
        </dt>
        <template v-if="data2">
          <div class="dibs-synthesis--block--h-divider" />
          <div class="dibs-synthesis--block--h-divider" />
        </template>
        <template v-else> </template>
      </template>
      <template v-if="summary">
        <dt class="dibs-synthesis--block--elem--summary dibs-scrollbar">
          {{ summary.label }}
          <span
            v-if="summary.hint"
            class="dibs-synthesis--block--elem--precision"
            >{{ summary.hint }}</span
          >
        </dt>
        <dd class="dibs-synthesis--block--elem--summary dibs-scrollbar">
          {{ summary.value }}
        </dd>
        <template v-if="summary2">
          <div v-if="data2" class="dibs-synthesis--block--h-divider" />
          <dd class="dibs-synthesis--block--elem--summary dibs-scrollbar">
            {{ summary2.value }}
          </dd>
        </template>
      </template>
    </dl>
  </div>
</template>
<script>
export default {
  props: {
    title: {
      type: [String],
      required: false,
      default: null,
    },
    info: {
      type: [String],
      required: false,
      default: null,
    },
    info2: {
      type: [String],
      required: false,
      default: null,
    },
    withHelp: {
      type: [Boolean],
      required: false,
      default: true,
    },
    hideInfo: {
      type: [Boolean],
      required: false,
      default: false,
    },
    data: {
      type: [Object],
      required: true,
    },
    data2: {
      type: [Object],
      required: false,
      default: () => null,
    },
    summary: {
      type: [Object],
      required: false,
      default: () => null,
    },
    summary2: {
      type: [Object],
      required: false,
      default: () => null,
    },
    action: {
      type: [String],
      required: false,
      default: null,
    },
  },
  data() {
    return {}
  },
  methods: {},
}
</script>
<style></style>
