<template>
  <div class="dibs-wrapper" :data-layout="layout" :data-alternate="alternate">
    <div v-if="withNavbar" class="dibs--navbar">
      <router-link class="dibs--navbar--logo" to="/">
        <dibs-img alt="e-rentes.ch" file="logos/e-rentes.ch.png" />
      </router-link>
      <div class="dibs--navbar--links">
        <div
          v-if="withSynthesisLink"
          class="dibs--navbar--synthesis"
          :data-always-on="currentPage == 'synthesis'"
        >
          <div class="dibs--navbar--synthesis--text">
            <dibs-picto-calc />
            <span>Ma Synthèse</span>
          </div>
          <div class="dibs--navbar--synthesis--picto">
            <svg
              viewBox="0 0 18 9"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M9 9L0 0H18L9 9Z" />
            </svg>
          </div>
        </div>
        <div class="dibs--navbar--user">
          <img
            v-if="user.avatar"
            class="dibs--navbar--user--avatar"
            :src="user.avatar"
          />
          <div class="dibs--navbar--user--initial">
            <span>{{ user.initial }}</span>
          </div>
          <div class="dibs--navbar--user--menu--wrapper">
            <div class="dibs--navbar--user--menu">
              <router-link class="dibs--navbar--user--menu--item" to="/">
                Déconnexion
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dibs--aside">
      <slot name="aside">
        <div class="dibs--aside--content">
          <div class="dibs--aside--content--header">
            <slot name="aside-header"></slot>
          </div>
          <h1><slot name="aside-title"></slot></h1>
          <slot name="aside-content"></slot>
        </div>
        <dibs-elem-video v-if="video" :src="video.src" :title="video.title" />
      </slot>
    </div>
    <div class="dibs--main">
      <div class="dibs--main--content">
        <slot name="content"></slot>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  components: {},
  props: {
    video: {
      type: [Object],
      required: false,
      default: () => {
        return null
      },
    },
    layout: {
      type: [String],
      required: true,
      validator(value) {
        // The value must match one of these strings
        return ['one-column', 'two-columns'].includes(value)
      },
    },
    withNavbar: {
      type: [Boolean],
      required: false,
      default: false,
    },
    withSynthesisLink: {
      type: [Boolean],
      required: false,
      default: false,
    },
    page: {
      type: [String],
      required: false,
      default: '',
    },
    alternate: {
      type: [Boolean],
      required: false,
      default: false,
    },
    user: {
      type: [Object],
      default: () => {
        return {
          avatar: `./img/beatriceface.png`,
          initial: 'BM',
        }
      },
      required: false,
    },
  },
  data() {
    return {
      isModalOpened: false,
      currentPage: this.page,
    }
  },
  head() {
    return {
      bodyAttrs: {
        'data-modal-is-open': this.isModalOpened,
      },
    }
  },
  watch: {
    isModalOpened(isModalOpened) {
      const bodyElement = document.querySelector('body')
      bodyElement.dataset.modalIsOpen = isModalOpened
    },
  },
  mounted() {
    this.$eventBus.$on('modal-is-open', () => {
      this.isModalOpened = true
    })
    this.$eventBus.$on('modal-is-closed', () => {
      this.isModalOpened = false
    })
  },
}
</script>
<style></style>
