<template>
  <div
    class="dibs--form--input--help"
    :data-full-width="fullWidth"
    :data-no-border="noBorder"
    :data-is-round="isRound"
    :data-size="size"
    @click="$emit('click')"
  >
    <slot></slot>
  </div>
</template>
<script>
export default {
  props: {
    fullWidth: {
      type: [Boolean],
      default: false,
    },
    noBorder: {
      type: [Boolean],
      default: false,
    },
    isRound: {
      type: [Boolean],
      default: false,
    },
    size: {
      type: [String],
      default: 'normal',
      validator(value) {
        return ['normal', 'small'].includes(value)
      },
    },
  },
}
</script>
