<template>
  <dibs-layout layout="one-column">
    <template #aside-header>
      <dibs-elem-back to="/" />
    </template>
    <template #aside-title> À propos </template>
    <template #content>
      <h2>Le service e-rentes.ch</h2>
      <p>
        Le service e-rentes.ch permet aux citoyen.ne.s de réunir les
        informations concernant ses rentes et capitaux de prévoyance vieillesse
        prévisionnels des trois piliers de manière automatique et en temps réel
        afin d’estimer son revenu à la retraite. Des simulations, basées sur des
        scénarios spécifiques (modification de taux d’activité, retraite
        anticipée...) sont également possibles.<br /><br />

        Le développement du service e-rentes.ch a été co-financé par Innosuisse
        (Confédération Suisse) et par les partenaires suivants : l’Office
        fédéral des assurances sociales (OFAS), la Centrale de Compensation
        (CdC) et les éditeurs de logiciels de prévoyance GLOBAZ SA et Neosis
        Solutions SA.
      </p>
    </template>
  </dibs-layout>
</template>

<script>
export default {
  name: 'AboutPage',
  layout: 'dibs',
}
</script>
