<template>
  <dibs-layout
    layout="two-columns"
    :with-navbar="true"
    :video="{
      src: 'https://www.youtube.com/embed/e_-afFNhDJY',
      title: 'Vidéo d\'exemple HEG',
    }"
  >
    <template #aside-header>
      <dibs-elem-back to="/prelogin" />
    </template>
    <template #aside-title>
      Estimer ma rente de vieillesse étatique
      <br />(LAVS - 1er pilier)
    </template>
    <template #content>
      <dibs-modal ref="modal-avs">
        <template #title>Où trouver votre nºAVS</template>
        <template #content>
          <p>
            Il s’agit d’un document physique, format carte de crédit. En
            principe vous devriez l’avoir sur vous, dans votre porte monnaie.
            <br /><br />
            La donnée qui nous intéresse est votre numéro AVS type
            756.0000.0000.00 vous pouvez aussi le trouver sur votre fiche de
            salaire
          </p>
          <br />
          <dibs-img file="hints/avs1.png" />
          <dibs-img file="hints/avs2.png" />
        </template>
      </dibs-modal>

      <dibs-form-elem
        label="Votre n° AVS"
        hint="Ex : 756.0000.0000.02"
        name="avs2"
      >
        <dibs-form-row :element-count="2">
          <dibs-input-text
            id="avs2"
            mask="756.####.####.##"
            placeholder="756.####.####.##"
          />
          <dibs-input-help @click="$refs['modal-avs'].open()">
            Où le trouver ?
          </dibs-input-help>
        </dibs-form-row>
      </dibs-form-elem>
      <dibs-form-row :element-count="2">
        <dibs-form-elem label="Date de naissance" name="birthdate">
          <dibs-input-date id="birthdate" />
        </dibs-form-elem>
        <dibs-form-elem label="Genre" name="gender">
          <dibs-input-select
            id="gender"
            default="female"
            :options="[
              {
                label: 'Femme',
                value: 'female',
              },
              {
                label: 'Homme',
                value: 'male',
              },
            ]"
          />
        </dibs-form-elem>
      </dibs-form-row>

      <dibs-form-elem label="Situation personelle" name="maritalStatus">
        <dibs-form-row>
          <dibs-input-radios
            id="maritalStatus"
            v-model="maritalStatus"
            :default="maritalStatus"
            :options="[
              {
                label: 'Célibataire',
                value: 'bachelor',
              },
              {
                label: 'Marié.e',
                value: 'married',
              },
              {
                label: 'Divorcé.e',
                value: 'divorced',
              },
              {
                label: 'Veuf.ve',
                value: 'widowed',
              },
            ]"
          />
        </dibs-form-row>
      </dibs-form-elem>

      <dibs-form-row v-if="maritalStatus != 'bachelor'" :element-count="2">
        <dibs-form-elem label="Date du marriage" name="marriageDate">
          <dibs-input-date id="marriageDate" />
        </dibs-form-elem>

        <dibs-form-elem
          v-if="maritalStatus == 'married'"
          label="n° AVS du partenaire"
          name="partnaireAvs"
        >
          <dibs-input-text
            id="partnaireAvs"
            mask="756.####.####.##"
            placeholder="756.####.####.##"
          />
        </dibs-form-elem>
        <dibs-form-elem
          v-else-if="maritalStatus == 'divorced'"
          label="Date de fin de mariage"
          name="marriageEndDate"
        >
          <dibs-input-date id="marriageEndDate" />
        </dibs-form-elem>
        <dibs-form-elem
          v-else-if="maritalStatus == 'widowed'"
          label="Date de décès du partenaire"
          name="partnerDeathdate"
        >
          <dibs-input-date id="partnerDeathdate" />
        </dibs-form-elem>

        <dibs-form-elem
          label="Date de naissance du partenaire"
          name="partnerBirthdate"
        >
          <dibs-input-date id="partnerBirthdate" />
        </dibs-form-elem>
        <dibs-form-elem label="Genre du partenaire" name="partnerGender">
          <dibs-input-select
            id="gender"
            default="female"
            :options="[
              {
                label: 'Femme',
                value: 'female',
              },
              {
                label: 'Homme',
                value: 'male',
              },
            ]"
          />
        </dibs-form-elem>
      </dibs-form-row>

      <dibs-form-row :element-count="2">
        <dibs-form-elem label="Nombre d'enfant(s)" name="childCount">
          <dibs-input-select
            id="childCount"
            :default="childCount"
            :options="[
              {
                label: '0',
                value: '0',
              },
              {
                label: '1',
                value: '1',
              },
              {
                label: '2',
                value: '2',
              },
              {
                label: '3',
                value: '3',
              },
              {
                label: '4',
                value: '4',
              },
              {
                label: '5',
                value: '5',
              },
              {
                label: '6',
                value: '6',
              },
            ]"
            @input="childCount = Number($event)"
          />
        </dibs-form-elem>
      </dibs-form-row>
      <template v-for="(n, i) in childCount">
        <dibs-form-elem
          :key="'child-' + childCount + '-' + i"
          :label="'Date de naissance de l\'enfant ' + n"
          :name="'childBirthdate' + i"
        >
          <dibs-form-row :element-count="2">
            <dibs-input-date
              :id="'childBirthdate' + i"
              :default="childBirthdates[i]"
              @input="$set(childBirthdates, i, $event)"
            />
            <dibs-input-checkbox
              :checked="childStatuses[i]"
              @input="$set(childStatuses, i, $event)"
              >Vivant</dibs-input-checkbox
            >
          </dibs-form-row>
          <dibs-form-row v-if="!childStatuses[i]" :element-count="2">
            <dibs-form-elem
              :label="'Date de décès de l\'enfant ' + n"
              name="'childDeathdate'+i"
              :default="childDeathdates[i]"
            >
              <dibs-input-date
                id="'childDeathdate'+i"
                :default="childDeathdates[i]"
                @input="$set(childDeathdates, i, $event)"
              />
            </dibs-form-elem>
          </dibs-form-row>
        </dibs-form-elem>
      </template>

      <dibs-elem-btn
        label="Estimer ma rente de vieillesse étatique"
        picto="forward"
        goto="synthesis"
      />
      <router-link to="#" class="dibs-page-avs-cannot"
        >je n'ai pas réussi à me connecter</router-link
      >
    </template>
  </dibs-layout>
</template>

<script>
export default {
  name: 'IndexPage',
  layout: 'dibs',
  data() {
    return {
      childCount: 0,
      childStatuses: Array(10).fill(true),
      childBirthdates: Array(10).fill(null),
      childDeathdates: Array(10).fill(null),
      maritalStatus: 'bachelor',
    }
  },
}
</script>
<style>
.dibs-page-avs-cannot {
  display: block;
  text-align: center;
  margin-top: 2em;
}
</style>
