<template>
  <dibs-layout layout="two-columns" :video="video">
    <template #aside-header>
      <router-link to="about">À propos</router-link>
      <dibs-elem-lang-dropdown />
    </template>
    <template #aside-title>
      e-rentes.ch :<br />
      j’estime ma retraite en ligne
    </template>
    <template #aside-content>
      <div class="dibs--home--logos">
        <div class="dibs--home--logos--big">
          <div v-for="(logo, id) in bigLogos" :key="'big-' + id">
            <dibs-img :alt="logo.alt" :file="logo.file" :full-width="true" />
          </div>
        </div>
        <div class="dibs--home--logos--small">
          <div v-for="(logo, id) in smallLogos" :key="'small-' + id">
            <dibs-img :alt="logo.alt" :file="logo.file" :full-width="true" />
          </div>
        </div>
      </div>
    </template>
    <template #content>
      <h2>À partir de mes données personnelles</h2>
      <p>
        Authentification nécessaire et sécurisée par
        <dibs-img alt="SwissID" file="logos/SwissID_small.png" />
      </p>
      <dibs-elem-btn label="Démarrer" picto="forward" goto="index2" />
      <dibs-utils-push-up />
      <h2>Exemples de simulation</h2>
      <div class="dibs--home--slider dibs-scrollbar">
        <dibs-partials-home-slider-elem
          v-for="(exemple, id) in exemples"
          :key="'exemple-' + id"
          :photo="exemple.photo"
          :name="exemple.name"
          :info1="exemple.info1"
          :info2="exemple.info2"
        />
      </div>
    </template>
  </dibs-layout>
</template>

<script>
export default {
  name: 'IndexPage',
  layout: 'dibs',
  data() {
    return {
      video: {
        src: 'https://www.youtube.com/embed/e_-afFNhDJY',
        title: "Vidéo d'exemple HEG",
      },
      bigLogos: [
        {
          alt: 'Logo de la Confederation Suisse',
          file: 'logos/swiss.png',
        },
        {
          alt: 'Logos',
          file: 'logos/logorandom.png',
        },
      ],
      smallLogos: [
        {
          alt: 'Logo de la HES',
          file: 'logos/HES.png',
        },
        {
          alt: 'Logo de la HEG',
          file: 'logos/HEG.png',
        },
        {
          alt: 'Logo de Globaz',
          file: 'logos/globaz.png',
        },
        {
          alt: 'Logo de Neosis',
          file: 'logos/neosis.png',
        },
      ],
      exemples: [
        {
          photo: 'exemples/photo_0.png',
          name: 'Béatrice (40 ans)',
          info1: 'Mariée',
          info2: '1 enfant',
        },
        {
          photo: 'exemples/photo_1.png',
          name: 'Steve (30 ans)',
          info1: 'Célibataire',
          info2: 'Sans enfant',
        },
        {
          photo: 'exemples/photo_2.png',
          name: 'Catherine (61 ans)',
          info1: 'Veuve',
          info2: '2 enfants',
        },
        {
          photo: 'exemples/photo_3.png',
          name: 'Christian (50 ans)',
          info1: 'Divorcé',
          info2: '1 enfant',
        },
      ],
    }
  },
}
</script>
<style>
.dibs--home--slider {
  display: flex;
  flex-direction: row;
  gap: 3em;
  overflow-x: auto;
  scroll-snap-type: x proximity;
  padding-bottom: 2em;
}

.dibs--home--slider--elem {
  width: 9.875em;
  left: 0px;
  top: 0px;
  background: var(--dibs-colors--grey--light);
  border: 1px solid var(--dibs-colors--grey);
  box-shadow: var(--dibs-shadow--light);
  scroll-snap-align: center;
}

.dibs--home--slider--elem--content {
  padding: 1em;
}

.dibs--home--slider--elem--title {
  font-size: 0.8125em;
  margin: 0;
}

.dibs--home--slider--elem--info {
  font-size: 0.75em;
  margin: 0;
  padding: 0.5em 0 0 1em;
}

.dibs--home--docs {
  counter-reset: docs;
}

.dibs--home--docs--elem:before {
  counter-increment: docs;
  content: counter(docs);
  position: absolute;
  left: 0;
  top: -0.2em;
  border: 1px solid;
  border-radius: 100%;
  width: 2em;
  height: 2em;
  font-size: 0.75em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--dibs-colors--accent);
}

.dibs--home--docs--action {
  position: absolute;
  right: 0;
  top: -0.6em;
  transform: rotate(-45deg);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

[data-open='true'] .dibs--home--docs--action {
  transform: rotate(0);
}

.dibs--home--docs--elem {
  padding-left: 3em;
  padding-right: 2em;
  position: relative;
}

.dibs--home--docs--title {
  font-weight: 700;
  font-size: 1.125em;
}

.dibs--home--docs--elem:not(:last-child) {
  border-bottom: 1px solid black;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.dibs--home--docs--elem p {
  height: auto;
  visibility: visible;
  margin: 1em 0;
  display: none;
}

.dibs--home--docs--elem[data-open='true'] p {
  display: block;
}

.dibs--home--logos {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.dibs--home--logos--big {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
  justify-content: space-between;
  align-items: center;
}

.dibs--home--logos--small {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.5em;
  justify-content: space-between;
  align-items: center;
}

@media (780px < width < 1200px) {
  .dibs--home--logos--big {
    grid-template-columns: 1fr;
  }

  .dibs--home--logos--small {
    grid-template-columns: 1fr 1fr;
  }
}

@media (width < 500px) {
  .dibs--home--logos--big {
    grid-template-columns: 1fr;
  }

  .dibs--home--logos--small {
    grid-template-columns: 1fr 1fr;
  }
}
</style>
