:root {
  --dibs-layout--col-ratio: 58%;
  --dibs-layout--video-ratio: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  --dibs-layout-aside-content-width: 85%;
  --dibs-layout-aside-content-width--max: 50em;
  --dibs-layout-main-content-width: 85%;
  --dibs-layout-main-content-width--max: 50em;

  --dibs-colors--red: #d92e30;
  --dibs-colors--red--slightly-lighter: #ce2022;

  --dibs-font--main-color: #000;
  --dibs-font--aside-color: #fff;
}

body {
  margin: 0;
  padding: 0;
  font: 400 16px 'Inter', sans-serif;
  color: var(--dibs-font--main-color);
}

h1 {
  margin-top: 0;
  font: 700 2.5em;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: -0.0325em;
}

h2 {
  margin-top: 0;
  font: 700 1.875em;
  line-height: 1.2em;
  letter-spacing: -0.033333em;
}

.dibs-wrapper {
  display: grid;
  grid-template: 'nav' 'aside' 'main';
  grid-template-rows: auto 1fr !important;
  min-height: 100vh;
  grid-template-columns: 1fr;
}

@media (width > 650px) {
  .dibs-wrapper[data-layout='two-columns'] {
    grid-template: 'nav nav' 'aside main';
    grid-template-columns:
      minmax(auto, var(--dibs-layout-aside-content-width--max))
      minmax(var(--dibs-layout--col-ratio), 1fr);
  }
}

.dibs--navbar {
  grid-area: nav;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.dibs--aside {
  grid-area: aside;
  background-color: var(--dibs-colors--accent);
  color: var(--dibs-font--aside-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dibs--main {
  grid-area: main;
  padding-bottom: 2em;
}

.dibs--navbar--user {
  padding: 0.625em;
  margin: 0 1em;
}

.dibs--navbar--user--picture {
  width: 2.5em;
  height: 2.5em;
  background-color: var(--dibs-colors--accent);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  position: relative;
  cursor: pointer;
  color: var(--dibs-font--aside-color);
}

.dibs--aside--video {
  width: 100%;
  position: relative;
  padding-top: var(--dibs-layout--video-ratio);
  margin-top: 4.625em;
}

.dibs--aside--video > * {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.dibs--aside--content {
  padding-top: 2.56em;
  width: var(--dibs-layout-aside-content-width);
  margin: 0 auto;
}

.dibs--aside--content--back {
  padding-bottom: 2.56em;
}

.dibs--aside--content--back > * {
  height: 1.25em;
}

.dibs--main--content {
  padding-top: 4.625em;
  max-width: var(--dibs-layout-main-content-width--max);
  width: var(--dibs-layout-main-content-width);
  margin: 0 auto;
}

.dibs--main .dibs--btn {
  font-weight: 700;
  font-size: 1.125em;
  background: var(--dibs-colors--accent);
  color: var(--dibs-font--aside-color);
  width: 100%;
  padding: 1.2em 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  letter-spacing: -0.01666em;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  margin-top: 2em;
  cursor: pointer;
}

.dibs--main .dibs--btn:not([disabled='true']):hover,
.dibs--main .dibs--btn[data-state='hover'] {
  background: var(--dibs-colors--accent--light);
}

.dibs--main .dibs--btn:not([disabled='true']):active,
.dibs--main .dibs--btn[data-state='active'] {
  background: var(--dibs-colors--accent);
  box-shadow: unset;
}

.dibs--main .dibs--btn[disabled='true'] {
  background: #ec9798;
  cursor: not-allowed;
}

.dibs--btn--picto > * {
  height: 0.8em;
  margin-left: 0.5em;
}
